<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title-feature">
          <h2>About</h2>          
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Vidyawati Business Solution</h2>
            <h3>We work with businesses who want to bridge the digital gap to outgrow, outperform and outsell the competition!</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              We offer web design and development, tailor made applications, ERPs, CRMs, e-commerce solutions, business-to-business applications, business-to-client applications, mobile applications.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i >We are a digital transformation consultancy and software development company that provides cutting edge engineering solutions, helping companies and enterprise clients.</li>
                <li><i class="ri-check-double-line"></i> We are a global IT company providing strategic IT business solutions and services for complex business problems, in multiple industry sectors including retail, healthcare, finance, education, and more.</li>
                <li><i class="ri-check-double-line"></i> We build businesses and drive transformation by bringing together the technical powers needed to help organizations thrive in the digital age. </li>
                <li><i class="ri-check-double-line"></i> We work with startups and enterprises to help them harness the power of emerging technologies by creating innovative digital experiences. </li>
            </ul>
            <p class="fst-italic">
              We guarantee our work and provide stress-free support so you can focus on your bottom line.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->    

   

  </main><!-- End #main -->